.nav__bar__search__form__input{
    background-color: var(--light-blue);
    text-transform: uppercase;
    font-family: var(--poppins);
    color: var(--white);
    width: 100%;
    margin: auto;
    padding: 2.2rem;
    font-size: 2.4rem;
    margin-top: 5rem;
    border-radius: 10px;
}